@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

h1{
  margin-top: 0;
}
/*********** HEADER **********/

.header {
  background-color: #9aa099;
  color: black;
  width: 100vw;
  height: 15vh;
}

.header h2 {
  color: white;
  font-size: 200%;
  padding: 3%
}
.name-h2 {
  padding-top: 2%;
  padding-left: 2%;
  float: left;
}

.portfolio-photo {
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  margin: auto;
  background-image: url('./images/portfolio-photo.jpg');
  background-size: contain;
}

.links-container {
  float: right;
  position: relative;
  top: -13vh;
  margin-right: 2.5%;
}

li {
  list-style: none;
  cursor: pointer;
}
#github-link {
  width: 10vw;
  height: 5vh;
  background-image: url('./images/github-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#linkedin-link {
  width: 10vw;
  height: 5vh;
  background-image: url('./images/linkedin-vector-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}
/*********** ENTRY PANE ************/

.sliding-pane {
    z-index: 10;
    position: absolute;
    width: 100vw;
    height: 85vh;
    background-image: url('./images/the-kitchen.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0;
    overflow: hidden;
}

.big-quote {
  color: white;
  padding-top: 13%;
  animation-name: fadein;
  animation-duration: 2.5s;
}

.name {
  color: white;
  padding-top: 5%;
  animation-name: fadein;
  animation-duration: 3.5s;
}

.enter-button {
  color: white;
  font-size: 150%;
  padding-top: 5%;
  cursor: pointer;
  animation-name: fadein;
  animation-duration: 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.entry-pane-leave.entry-pane-leave-active {
    height: 0px;
    -webkit-transition: height .5s ease;
}
/************* WELCOME PANE ********/

.welcome-pane {
  margin: auto;
  margin-top: 5%;
  width: 70vw;
  height: 70vh;
  position: relative;
  left: 10vw;
}

/************* SIDE BAR ************/

.side-bar{
  position: fixed;
  z-index: 1;
  top: 15%;
  background-color: #abc9bd;
  color: black;
  width: 18vw;
  height: 85vh;

}

.side-bar-item:hover {
  cursor: pointer;
  background-color: #595a6d;
  color: white;
  transition: all 0.4s ease-in-out;
}
.project-list {
    width: 18vw;
    height: 30vh;
    background-color: #9aa099;
    margin-top: 10px;
    overflow: hidden;
}

.project-item{
  width: 18vw;
  height: 5vh;
  margin-top: 5px;
  padding-top: 2%;
}

.project-item:hover {
  cursor: pointer;
  background-color: #595a6d;
  color: white;
  transition: all 0.4s ease-in-out;
}

.rule {
  width: 70%;
}
.project-transition-enter {
    height: 0px;
}

.project-transition-enter.project-transition-enter-active {
    height: 30vh;
    -webkit-transition: height .4s ease;
}

.project-transition-leave.project-transition-leave-active {
    height: 0px;
    -webkit-transition: height .4s ease;
}

/******** CONTENT PANES *********/

.content-pane {
  width:82vw;
  height: 85vh;
  background: #f2f7e6;
  position: absolute;
  overflow: hidden;
  left: 100%;
  top: 0;
}

.projects-content-pane {
  width:82vw;
  height: 85vh;
  background: white;
  color: black;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
  left:100%
}

.project-content-pane {
  width:82vw;
  height: 85vh;
  background: #f2f7e6;
  color: black;
  position: absolute;
  overflow: hidden;
  z-index: 5;
  left: 100%;
  top: 0;
  overflow-y: scroll;
}

.project-content-container {
  width: 80vw;
  overflow: hidden;
}
.content-transition-enter {
  width: 0px;
}

.content-transition-enter.content-transition-enter-active {
    width: 82vw;
    -webkit-transition: width .7s ease;
}

.content-transition-leave.content-transition-leave-active {
    width: 0px;
    -webkit-transition: width .7s ease;
}

/********* Face2Face PANE *****/

.project-image {
  width: 50vh;
  height: 50vh;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

#f2f-homescreen {
  background-image: url('./images/F2FHomeScreen.png');
}
#f2f-video-chat {
  background-image: url('./images/F2F-VideoChat.png');
  height: 38vh;
}

#f2f-matchlist {
  background-image: url('./images/F2FMatchList.png');
}

#f2f-messages {
  background-image: url('./images/F2FMessages.png');
  height: 40vh;
}
/********* Buzz PANE **********/

#buzz-home {
  background-image: url('./images/buzz-home.png');
  height: 30vh;
}

#buzz-vibes {
  background-image: url('./images/buzz-vibes.png');
  height: 30vh;
}

#buzz-happy-hours {
  background-image: url('./images/buzz-happy-hours.png');
  height: 30vh;
}
/********* ART PANE ***********/

.art-content-container {
    margin: auto;
    margin-top: 5%;
    width: 70vw;
    height: 70vh;
    overflow: hidden;
}

.slideshow-container {
  margin: auto;
  margin-top: 8%;
  width: 70vw;
  height: 55vh;
  background-color: black;
}


/********* BIO PANE **********/

.bioContainer {
  width: 80vw;
  height: 30vh;
  overflow: hidden;
}

/*.content-pane h2 {
  color: white;
  overflow: hidden;
}
.content-pane p {
  overflow: hidden;
  color: black;
}*/
