body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1{
  margin-top: 0;
}
/*********** HEADER **********/

.header {
  background-color: #eaefee;
  width: 100vw;
  height: 15vh;
}

.name-h2 {
  margin-top: 0;
  float: left;
}

.portfolio-photo {
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  margin: auto;
  background-image: url('./images/portfolio-photo.jpg');
  background-size: contain;
}
/*********** ENTRY PANE ************/

.sliding-pane {
    z-index: 10;
    position: relative;
    width: 100vw;
    height: 85vh;
    background-image: url('./images/the-kitchen.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0;
}

.big-quote {
  color: white;
  padding-top: 20%;
  animation-name: fadein;
  animation-duration: 2.5s;
}

.name {
  color: white;
  padding-top: 5%;
  animation-name: fadein;
  animation-duration: 3.5s;
}

.enter-button {
  color: white;
  font-size: 24px;
  padding-top: 15%;
  cursor: pointer;
  animation-name: fadein;
  animation-duration: 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.entry-pane-leave.entry-pane-leave-active {
    height: 0px;
    -webkit-transition: height .5s ease;
}

/************* SIDE BAR ************/

.side-bar{
  position: fixed;
  z-index: 1;
  top: 15%;
  background-color: #7de8c9;
  color:purple;
  width: 18vw;
  height: 80vh;

}

.project-list {
    width: 15vw;
    height: 100px;
    background: grey;
    margin-top: 10px;
}

.project-transition-enter {
    height: 0px;
}

.project-transition-enter.project-transition-enter-active {
    height: 100px;
    -webkit-transition: height .3s ease;
}

.project-transition-leave.project-transition-leave-active {
    height: 0px;
    -webkit-transition: height .3s ease;
}

/******** CONTENT PANES *********/

.content-pane {
  width:82vw;
  height: 85vh;
  background: #8eafe2;
  position: relative;
  right: -18vw;
  top: -28vh;
}

.projects-content-pane {
  width:82vw;
  height: 85vh;
  background: #8eafe2;
  position: relative;
  right: -18vw;
  top: -48.3vh;
}

.content-transition-enter {
  width: 0px;
}

.content-transition-enter.content-transition-enter-active {
    width: 82vw;
    -webkit-transition: width .7s ease;
}

.content-transition-leave.content-transition-leave-active {
    width: 0px;
    -webkit-transition: width .7s ease;
}
