body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*********** HEADER **********/

.header {
  background-color: #eaefee;
  width: 100vw;
  height: 15vh;
}

h1{
  margin-top: 0;
}
/*********** ENTRY PANE ************/

.sliding-pane {
    z-index: 10;
    position: relative;
    width: 100vw;
    height: 85vh;
    background-image: url('./images/the-kitchen.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 0;
}

.enter-button{
  color: white;
  cursor: pointer;

}

.entry-pane-leave.entry-pane-leave-active {
    height: 0px;
    -webkit-transition: height .3s ease;
}

/************* SIDE BAR ************/

.side-bar{
  position: fixed;
  z-index: 1;
  top: 15%;
  background-color: #7de8c9;
  color:purple;
  width: 18vw;
  height: 80vh;

}

.project-list {
    width: 200px;
    height: 100px;
    background: grey;
    margin-top: 10px;
}

.project-transition-enter {
    height: 0px;
}

.project-transition-enter.project-transition-enter-active {
    height: 100px;
    -webkit-transition: height .3s ease;
}

.project-transition-leave.project-transition-leave-active {
    height: 0px;
    -webkit-transition: height .3s ease;
}

/******** CONTENT PANES *********/

.content-pane {
  width:70vw;
  height: 80vh;
  background: #8eafe2;
  position: relative;
  right: -17vw;
  top: -28vh;
}

.content-transition-enter {
  width: 0px;
}

.content-transition-enter.content-transition-enter-active {
    width: 500px;
    -webkit-transition: width .3s ease;
}

.content-transition-leave.content-transition-leave-active {
    width: 0px;
    -webkit-transition: width .3s ease;
}
